<nav class="navbar">
    <div id="container-header" >
        <div class="navbar-header">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 text-left">
                    <img class="img-fluid" src="assets/images/logos/marvel-logo-v01.png" alt="MarvelComics" />
                </div>
                <div class="col-lg-6 col-md-8 col-12">
                    <input #Filter [(ngModel)]="searchHero" type="text" class="form-control search-input-icon search-input" placeholder="Search character...">
                </div>
            </div>
        </div>
    </div>
</nav>
