<div class="navbar">
    <div class="row">
        <div class=" col-lg-9 col-md-9 col-11 text-lg-center text-md-left ">
            <p id="footer-text">Grability 2017 - Todos los derechos reservados</p>
        </div>
        <div class="col-lg-3 col-md-3 col-1 text-lg-center">
            <img class="img-fluid" src="assets/images/logos/grability-logo-v01.png" alt="Grability" />
        </div>
    </div>        
</div>
    <!--<div class="col-lg-10 col-md-10 col-12 text-lg-left text-md-left text-center">-->
