
div {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    color: #786E6D;
}

h3, h5{
    color: #494443;
     font-weight:bold;
}
.search-input{
    background-color:#ffffff !important;
}
.img-fluid{
    margin-right: 10px;
}






/**************  F a v o u r i t e s  *********************/

.favourites-container{
    padding-top:25px; 
     background-color: #EEEEEE;
}
.characters-container{    
     background-color: #F9F9F9;
}

.header, .footer{
    background-color: #2D2727 !important;

}
.header{
    margin-bottom: 6px;
    -webkit-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.75);
}
.footer{   
    color:#eee; 
    padding:15px !important;
}

/**************  C h r a c t e r s  *********************/

.characters-general-top {
    padding-top: 20px;
}

.img-character{
    -webkit-box-shadow: 10px 6px 24px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 24px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 24px -8px rgba(0,0,0,0.75);   
}

/**************  C o m i c s *********************/
.textHover:hover {
    color:#DC1D23;   
    cursor: pointer;
}


/**************  M o d a l  *********************/
.modal-dialog{
    width:60%; 
    max-width:60%
}
.overlay-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}

.overlay-img:hover {
  opacity: 1;
}

.hover-img {  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;;
}
.img-hover{    
  padding-right:15px;
  cursor: pointer;
}

/********************  Media 1 0 2 7  p x  ***************************/

@media (max-width: 1027px) {
    .modal-dialog{
        width:60%; 
        max-width:60%
    }
}


/********************  Media 7 6 8  p x  ***************************/

@media (max-width: 768px) {
    .modal-dialog{
        width:90%; 
        max-width:90%
    }
}


/********************  Media 7 3 2  p x  ***************************/

@media (max-width: 732px) {
    .modal-dialog{
        width:90%; 
        max-width:90%
    }
}

/*.ng2-pagination .current {
    padding: 0.3rem 0.9rem !important;
    background: #FCFCFC !important;
    color: #000000 !important;
    cursor: pointer !important;
    font-weight: bold !important;
}

.ng2-pagination li {
    padding: 0.3rem 0.9rem !important;
    background: #FCFCFC !important;
    color: #000000 !important;
    cursor: pointer !important;
    font-weight: bold !important;
}*/